<h1 class="text-center">Welcome to the Task Manager</h1>
<div class="text-center">
<img src="/images/pbjt.gif" alt="PEANUT BUTTER JELLY TIME" height=50px width=50px>
<img src="/images/pbjt.gif" alt="PEANUT BUTTER JELLY TIME" height=50px width=50px>
<img src="/images/pbjt.gif" alt="PEANUT BUTTER JELLY TIME" height=50px width=50px>
<img src="/images/pbjt.gif" alt="PEANUT BUTTER JELLY TIME" height=50px width=50px>
<img src="/images/pbjt.gif" alt="PEANUT BUTTER JELLY TIME" height=50px width=50px>
<img src="/images/pbjt.gif" alt="PEANUT BUTTER JELLY TIME" height=50px width=50px>
<img src="/images/pbjt.gif" alt="PEANUT BUTTER JELLY TIME" height=50px width=50px>
<img src="/images/pbjt.gif" alt="PEANUT BUTTER JELLY TIME" height=50px width=50px>
<img src="/images/pbjt.gif" alt="PEANUT BUTTER JELLY TIME" height=50px width=50px>
</div>
<ul class="list-inline text-center">
  <li class="btn btn-default"><a href="/tasks">Task Index</a></li>
  <li class="btn btn-default"><a href="/tasks/new">New Task</a></li>
</ul>
