<form action="/tasks/<%=@task.id %>" method="post">
  <p>Edit this task:</p>
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="task[title]" value="<%= @task.title %>"><br/>
  <textarea name="task[description]" value="<%= @task.description %>"></textarea><br/>
  <input type='submit'/>
</form>
